mixin cube
  .cube
    each val in ["front", "back", "right", "left", "top", "bottom"]
      div(class=val)

.container
  .level
    .side.back
    .side.right
    .side.left
    .side.top
    .side.bottom

    .block
      +cube
      +cube
      +cube
      +cube
