mixin cube(name)
  .cube(class=name)
    each val in ["front", "back", "right", "left", "top", "bottom"]
      div(class=val)

.container.crosshair

  .scene
    .side.back
    .side.right
    .side.left
    .side.top
    .side.bottom

    .tetromino
      +cube("a")
      +cube("b")
      +cube("c")
      +cube("d")

    .mason

.pool
  +cube("mc")
