* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

.crosshair {
  background:
    linear-gradient(#003,#003),
    linear-gradient(#003,#003),
    #000;
  background-position:center;
  background-size: 100% 1px,1px 100%;
  background-repeat:no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  cursor: crosshair;
  align-items: center;
  justify-content: center;
  perspective: var(--perspective);
  transition: perspective-origin 200ms ease-out;
  perspective-origin: var(--perspectiveX) var(--perspectiveY);
}

.front {
  transform: translateZ(var(--edge));
}
.right {
  transform-origin: right;
  transform: rotateY(90deg);
}
.left {
  transform-origin: left;
  transform: rotateY(-90deg);
}
.top {
  transform-origin: top;
  transform: rotateX(90deg);
}
.bottom {
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

.level {
  background-color: #000300;
  transform-style: preserve-3d;
  position: absolute;

  --dimension: calc(max(var(--cols), var(--rows)) * var(--edge));
  width: var(--dimension);
  height: var(--dimension);
  --edge-px: calc(var(--edge) * 1px);
  --edge--px: calc(var(--edge) - 2px);

  .side {
    width: 100%;
    height: 100%;
    position: absolute;

    background-image:
      repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #f006 var(--edge)),
      repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #f006 var(--edge));

    /* &.top {
      background-image:
        repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #f006 var(--edge)),
        repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #f006 var(--edge)),
        linear-gradient(to top, transparent, transparent 20%, #f002);
    }
    &.left {
      background-image:
        repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #f006 var(--edge)),
        repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #f006 var(--edge)),
        linear-gradient(to left, transparent, transparent 20%, #f002);
    }
    &.right {
      background-image:
        repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #f006 var(--edge)),
        repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #f006 var(--edge)),
        linear-gradient(to right, transparent, transparent 20%, #f002);
    }
    &.bottom {
      background-image:
        repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #f006 var(--edge)),
        repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #f006 var(--edge)),
        linear-gradient(to bottom, transparent, transparent 20%, #f002);
      }
    &.back {
      background-color: #f001;
      background-image:
        repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #f006 var(--edge)),
        repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #f006 var(--edge));
    } */
  }
}

.cube {
  transform-style: preserve-3d;
  transition: 300ms ease-out;
  width: 100%;
  height: 100%;

  > div {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #f00a;
    border: 1px solid #000;
    border-radius: var(--radius);
    /* backface-visibility: hidden; */
    transition: border-radius 200ms ease-out;
  }

  &.a {
    grid-area: a;
  }
  &.b {
    grid-area: b;
  }
  &.c {
    grid-area: c;
  }
  &.d {
    grid-area: d;
  }
}

.block {
  --translateX: calc(var(--posX) * var(--edge));
  --translateY: calc(var(--posY) * var(--edge));
  --translateZ: calc(var(--currentFloor) * var(--edge));
  --rotateX: calc(var(--rotX) * 1deg);
  --rotateZ: calc(var(--rotZ) * 1deg);

  width: calc(var(--edge) * 4);
  height: calc(var(--edge) * 2);

  transform-style: preserve-3d;
  transform: translate3d(var(--translateX), var(--translateY), var(--translateZ)) rotateX(var(--rotateX)) rotateZ(var(--rotateZ));
  transition: 300ms ease-out;

  display: grid;

  /* > div {
    background-color: red;
  } */

  &.orangeRick {
    grid-template-areas:
      ". . . a"
      ". b c d";
    .a .bottom, .b .right, .c .left, .c .right, .d .top, .d .left {
      display: none;
    }
  }
  &.hero {
    grid-template-areas:
      ". . . ."
      "a b c d";
    .a .right, .b .left, .b .right, .c .left, .c .right, .d .left {
      display: none;
    }
  }
  &.blueRick {
    grid-template-areas:
      "a . . ."
      "b c d .";
    .a .bottom, .b .top, .b .right, .c .left, .c .right, .d .left {
      display: none;
    }
  }
  &.teeWee {
    grid-template-areas:
      ". a . ."
      "b c d .";
    .a .bottom, .b .right, .c .top, .c .left, .c .right, .d .left {
      display: none;
    }
  }
  &.clevelandZ {
    grid-template-areas:
      "a b . ."
      ". c d .";
    .a .right, .b .bottom, .b .left, .c .top, .c .right, .d .left {
      display: none;
    }
  }
  &.smashboy {
    grid-template-areas:
      "a b . ."
      "c d . .";
    .a .right, .a .bottom, .b .left, .b .bottom, .c .top, .c .right, .d .top, .d .left {
      display: none;
    }
  }
  &.rhodeIslandZ {
    grid-template-areas:
      ". a b ."
      "c d . .";
    .a .right, .a .bottom, .b .left, .c .right, .d .top, .d .left {
      display: none;
    }
  }
}
