:root {
  --perspective: 20rem;
  --mouse-x-pc: 50%;
  --mouse-y-pc: 50%;

  --edge: 0.5rem;

  --width: 3;
  --height: 3;
  --depth: 3;

  --translateX: 0rem;
  --translateY: 0rem;
  --translateZ: 18rem;
  --rotateX: 0deg;
  --rotateZ: 0deg;
  --radius: 0rem;
}

* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to bottom, #100, #010); */
  background: #020;
  margin: 0;
  /* margin: 0.5rem; */
  padding: 0;
  cursor: crosshair;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  /* width: calc(100vw - 1rem);
  height: calc(100vh - 1rem); */

  perspective: var(--perspective);
  perspective-origin: calc(100% - var(--mouse-x-pc)) calc(100% - var(--mouse-y-pc));
}

.level {
  transform-style: preserve-3d;
  > div {
    top: calc(var(--height) / -2 * var(--edge));
    left: calc(var(--width) / -2 * var(--edge));
    display: grid;
    transform-origin: 0 0 0;
    position: absolute;
    > div {
      border: 0.05rem solid #030;
      width: var(--edge);
      height: var(--edge);
    }
  }
  .back {
    grid-template-columns: repeat(var(--width), 1fr);
    grid-template-rows: repeat(var(--height), 1fr);
  }
  .left, .right {
    grid-template-columns: repeat(var(--depth), 1fr);
    grid-template-rows: repeat(var(--height), 1fr);
  }
  .right {
    transform: rotateY(90deg) translate3d(calc(var(--depth) * var(--edge) * -1), 0, calc(var(--width) * var(--edge)));
  }
  .left {
    transform: rotateY(-90deg);
  }
  .top, .bottom {
    grid-template-columns: repeat(var(--width), 1fr);
    grid-template-rows: repeat(var(--depth), 1fr);
  }
  .top {
    transform: rotateX(90deg);
  }
  .bottom {
    transform: rotateX(-90deg) translate3d(0, calc(var(--depth) * var(--edge) * -1), calc(var(--height) * var(--edge)));
  }
}

.cube {
  transform-style: preserve-3d;
  transform: translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ)) rotateX(var(--rotateX)) rotateZ(var(--rotateZ));
  transition: 300ms ease-out;
  transform-origin: center;
  width: var(--edge);
  height: var(--edge);

  > div {
    position: absolute;
    background-color: #f00a;
    border: 0.02rem solid #010;
    border-radius: var(--radius);
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    transition: border-radius 200ms ease-out;
  }

  --half-edge: calc(var(--edge) / 2);

  .front {
    transform: translateZ(var(--half-edge));
  }
  .back {
    transform: rotateY(180deg) translateZ(var(--half-edge));
  }
  .right {
    transform: rotateY(90deg) translateZ(var(--half-edge));
  }
  .left {
    transform: rotateY(-90deg) translateZ(var(--half-edge));
  }
  .top {
    transform: rotateX(90deg) translateZ(var(--half-edge));
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(var(--half-edge));
  }
/*
  &.rot45 {
    transform: rotateY(45deg);
  } */
}
